@using Newtonsoft.Json;
@Model IEnumerable<radio1.Models.Entities.Salle>

	@{
		Layout = "_HomePageLayout";
	}

	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Preclinic - Gestionnaire des Salle</title>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	@Html.Partial("SalleApiModal")
	<body>
		<div class="main-wrapper">
			<div class="page-wrapper">
				<div class="content">
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a>Salles </a></li>
									<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
									<li class="breadcrumb-item active">Gestion des Salles</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					<div class="row">
						<div class="col-sm-12">
							<div class="card card-table show-entire">
								<div class="card-body">
									<!-- Table Header -->
									<div class="page-table-header mb-2">
										<div class="row align-items-center">
											<div class="col">
												<div class="doctor-table-blk">
													<h3>liste de Salles</h3>
													<div class="doctor-search-blk">
														<div class="top-nav-search table-search-blk">
															<div class="top-nav-search table-search-blk">
																<input type="text" id="search-salle-input" class="form-control" placeholder="Recherche...">
															</div>
														</div>
														<div class="add-group">
															<a href="#" onclick="CheckAuthAdd_Depends('Salle')" class="btn btn-primary add-pluss ms-2"><img src="~/assets/img/icons/plus.svg" alt=""></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- /Table Header -->

									<div class="table-responsive" style="padding: 0px 15px;" id="salle-table">
										<table class="table border-0 custom-table comman-table datatable mb-0">
											<thead>
												<tr style="background: linear-gradient(to bottom, #96acc9 0%, #f5f5f6 100%);">
													<th>Nom</th>
													<th>Emplacement </th>
													<th>Respensable </th>
													<th>Type d'operation</th>
													<th>Date d'ajout</th>
													<th></th>
												</tr>
											</thead>
											@if (Model != null)
											{
												<tbody>
													@foreach (var item in Model)
													{
														<tr style="background-color: #f5f5f6;">
															<td id="@item.Id-nom">@item.Nom</td>
															<td>
																<a id="@item.Id-emp" href="#" onclick="Show_PDF('@item.Emplacement')">@item.Emplacement</a>
															</td>
															@if(@item.Responsable != null)
															{
																<td class="text">
																	<div class="dropdown">
																		<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
																			@item.Responsable.Nom @item.Responsable.Prenom
																		</a>
																		<div class="dropdown-menu dropdown-menu-center">
																			<a class="dropdown-item" href="#" onclick="changer_affectation(@item.Id)"><i class="fa-solid fa-pen-to-square m-r-5"></i> Changer l'affectation</a>
																		</div>
																	</div>
																</td>
															}
															else
															{
																<td class="text">
																	<div class="dropdown">
																		<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
																			Pas de Responsable affecté
																		</a>
																		<div class="dropdown-menu dropdown-menu-center">
																			<a class="dropdown-item" href="#" onclick="changer_affectation(@item.Id)"><i class="fa-solid fa-pen-to-square m-r-5"></i> Affecter un responsable</a>
																		</div>
																	</div>
																</td>
															}
															<td class="text">
																<div class="dropdown">
																	<a href="#" id="@item.Id-count" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
																		@item.Operations.Count Type d'operation
																	</a>
																		<div class="dropdown-menu dropdown-menu-center">
																			<a class="dropdown-item" href="#" onclick="operation_associee('@item.Id')"><i class="fa-solid fa-pen-to-square m-r-5"></i> Consulter</a>
																	</div>
																</div>
															</td>
															<td>@item.DateCreation</td>
															<td class="text-end">
																<div class="dropdown dropdown-action">
																	<a class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
																	<div class="dropdown-menu dropdown-menu-end">
																		<a class="dropdown-item" href="#" onclick="edit_salle_btn('@item.Id','@item.Emplacement')"><i class="fa-solid fa-pen-to-square m-r-5"></i> Modifier</a>
																		<a class="dropdown-item" href="#" onclick="delete_salle_btn(@item.Id)"><i class="fa fa-trash-alt m-r-5"></i> Supprimer</a>
																	</div>
																</div>
															</td>
														</tr>
													}
												</tbody>
											}
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="~/MyJS/RessourcesJS/Salle.js"></script>
	</body>
</html>




